force-app/main/default/flows/ACAL_SUB_Refresh_Public_Holidays_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>store_collection</name>
        <label>store collection</label>
        <locationX>176</locationX>
        <locationY>1016</locationY>
        <actionName>UpsertRecords</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Daemon__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>Daemon__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>externalIdFieldName</name>
            <value>
                <stringValue>daemon__c.Calendar_Event_External_Id__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>events_col</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>inc_counter</name>
        <label>inc counter</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>events_col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eventsYear_col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>oo_Years</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reset_counter</name>
        <label>reset counter</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oo_Years</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_countries</name>
        <label>set countries</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>countries_col</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CZ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countries_col</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countries_col</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countries_col</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>HU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countries_col</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>EE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countries_col</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countries_col</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countries_col</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>AT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countries_col</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countries_col</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>HR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countries</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>oo_Years</name>
        <label>oo Years</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>countries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loop End</defaultConnectorLabel>
        <rules>
            <name>Each</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>storeHolidaysForNextXYears_in</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_public_holidays_events</targetReference>
            </connector>
            <label>Each</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentYear_fr</name>
        <dataType>Number</dataType>
        <expression>YEAR(today()) + {!counter}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ACAL - SUB - Refresh Public Holidays Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACAL - SUB - Refresh Public Holidays Events</label>
    <loops>
        <name>countries</name>
        <label>countries</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>countries_col</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>reset_counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>store_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>set_countries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>get_public_holidays_events</name>
        <label>get public holidays events</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>inc_counter</targetReference>
        </connector>
        <flowName>ACAL_SUB_get_Public_Holidays_Events</flowName>
        <inputAssignments>
            <name>countryCode_in</name>
            <value>
                <elementReference>countries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>year_in</name>
            <value>
                <elementReference>currentYear_fr</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>eventsYear_col</assignToReference>
            <name>event_col</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countries_col</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>events_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daemon__c</objectType>
    </variables>
    <variables>
        <name>eventsYear_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daemon__c</objectType>
    </variables>
    <variables>
        <name>storeHolidaysForNextXYears_in</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
