force-app/main/default/flows/Ben_Send_Invoice_to_Benefit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_invoice_to_Benefit</name>
        <label>send invoice to Benefit</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <actionName>Benefit_SendInvoice_Invc</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>invoice_has_been_send_to_Benefit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_msg_scr</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documentIdList</name>
            <value>
                <elementReference>document_so.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>validation_over_formulas</name>
        <label>validation over formulas</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>err_msg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validation1_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>err_msg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validation10_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>err_msg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validation11_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>err_msg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validation12_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>err_msg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validation13_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>err_msg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validation14_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>err_msg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validation15_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>err_msg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validation2_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>err_msg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validation3_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>err_msg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validation4_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>err_msg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validation5_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>err_msg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validation6_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>err_msg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validation7_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>err_msg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validation8_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>err_msg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validation9_fr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_to_benefit_scr</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_invoice_has_been_integrated</name>
        <label>check if invoice has been integrated</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>errors_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>err_msg</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>err_msg_scr</targetReference>
            </connector>
            <label>errors exists</label>
        </rules>
        <rules>
            <name>integrated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>document_so.Benefit_Invoice_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>document_so.Benefit_Invoice_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>integrated_invoice_scr</targetReference>
            </connector>
            <label>integrated</label>
        </rules>
        <rules>
            <name>not_integrated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>document_so.Benefit_Invoice_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>document_so.Benefit_Invoice_Number__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>send_invoice_to_Benefit</targetReference>
            </connector>
            <label>not-integrated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>validation10_fr</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!document_so.Date_VAT__c}),&quot;Datum zdanitelného plnění není vyplněno. &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>validation11_fr</name>
        <dataType>String</dataType>
        <expression>If(TEXT({!document_so.Payment_Method__c})=&quot;&quot;,&quot;Způsob platby není vyplněn. &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>validation12_fr</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!document_so.CurrencyIsoCode}) = &quot;CZK&quot; &amp;&amp; ISBLANK({!document_so.Bank_Account__r.Bank_Account__c}), &quot;Číslo účtu není vyplněno. &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>validation13_fr</name>
        <dataType>String</dataType>
        <expression>if(TEXT({!document_so.CurrencyIsoCode}) = &quot;CZK&quot; &amp;&amp; ISBLANK({!document_so.Bank_Account__r.Bank_Code__c}), &quot;Kód banky není vyplněn. &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>validation14_fr</name>
        <dataType>String</dataType>
        <expression>if(TEXT({!document_so.CurrencyIsoCode}) != &quot;CZK&quot; &amp;&amp; ISBLANK({!document_so.Bank_Account__r.IBAN__c}), &quot;IBAN není vyplněn. &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>validation15_fr</name>
        <dataType>String</dataType>
        <expression>if(TEXT({!document_so.CurrencyIsoCode}) != &quot;CZK&quot; &amp;&amp; ISBLANK({!document_so.Bank_Account__r.SWIFT__c}), &quot;SWIFT není vyplněn. &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>validation1_fr</name>
        <dataType>String</dataType>
        <expression>If({!document_so.Supplier__r.Benefit_Id__c} = &apos;&apos;,&quot;Dodavatel není zintegrován s Benefitem, chybí Benefit id. &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>validation2_fr</name>
        <dataType>String</dataType>
        <expression>If(TEXT({!document_so.Invoice_Type_of_Document__c}) = &quot;&quot;,&quot;Typ Dokumnetu faktury není vyplněn. &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>validation3_fr</name>
        <dataType>String</dataType>
        <expression>If(TEXT({!document_so.Invoice_Category__c}) = &quot;&quot;,&quot;Druh faktury není vyplněn. &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>validation4_fr</name>
        <dataType>String</dataType>
        <expression>If({!document_so.Invoice_nb__c} = &apos;&apos;,&quot;Číslo faktury není vyplněno. &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>validation5_fr</name>
        <dataType>String</dataType>
        <expression>If({!document_so.Variable_Symbol__c} = &apos;&apos;,&quot;Variabilní symbol není vyplněn. &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>validation6_fr</name>
        <dataType>String</dataType>
        <expression>If(ISNULL({!document_so.Total__c}),&quot;Celková částka včetně DPH není vyplněna. &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>validation7_fr</name>
        <dataType>String</dataType>
        <expression>If(TEXT({!document_so.CurrencyIsoCode}) = &quot;&quot;,&quot;Měna není vyplněna. &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>validation8_fr</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!document_so.Issue_Date__c}),&quot;Datum vystavení není vyplněno. &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>validation9_fr</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!document_so.Payment_Due_Date__c}),&quot;Datum splatnosti není vyplněno. &quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Ben - Send Invoice to Benefit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ben - Send Invoice to Benefit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>err_msg_scr</name>
        <label>err_msg_scr</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>err_msg_dt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Faktura nemůže být zaslána do benefitu.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(250, 2, 2);&quot;&gt;{!err_msg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error_msg_scr</name>
        <label>error_msg_scr</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>err_dst</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;🚫 &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Nastala chyba prosím kontaktujte správce systému&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>integrated_invoice_scr</name>
        <label>integrated_invoice_scr</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>info_msg_sc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Faktura již existuje v Benefitu pod číslem: &lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;{!document_so.Benefit_Invoice_Number__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>invoice_has_been_send_to_Benefit</name>
        <label>invoice has been send to Benefit</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>info_msg2_sc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;✅&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Faktura byla zaslána do Benefitu.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>send_to_benefit_scr</name>
        <label>send_to_benefit_scr</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_if_invoice_has_been_integrated</targetReference>
        </connector>
        <fields>
            <name>sendtobenefit_btn</name>
            <extensionName>c:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClicked</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-button_stretch</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Zaslat do Benefitu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>DESTRUCTIVE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>validation_over_formulas</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>document_so</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>err_msg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
