changeset/holidays sync4 2/flows/ACAL_SUB_get_Public_Holidays_Events.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_Public_Holidays</name>
        <label>get Public Holidays</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>getHolidaysFromNager.getPublichHolidays</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>oo_holidays</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>year</name>
            <value>
                <elementReference>year_fr</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CountryCode</name>
            <value>
                <elementReference>countryCode_in</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>responsePublicHolidays_col</assignToReference>
            <name>2XX</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>add_to_col</name>
        <label>add to col</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>event_col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>event_so</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oo_holidays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>convert_response_to_event</name>
        <label>convert response to event</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>event_so.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_holidays.z0date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>event_so.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_holidays.z0date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>event_so.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>name_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>event_so.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Calendar Event</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>event_so.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_holidays.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>event_so.Calendar_Event_External_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>externalKey_fr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_col</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>externalKey_fr</name>
        <dataType>String</dataType>
        <expression>{!name_fr} + &quot; &quot; + TEXT({!oo_holidays.z0date}) +&quot; &quot;+ {!oo_holidays.name}</expression>
    </formulas>
    <formulas>
        <name>name_fr</name>
        <dataType>String</dataType>
        <expression>&quot;Svátky &quot;+{!countryCode_in}</expression>
    </formulas>
    <formulas>
        <name>year_fr</name>
        <dataType>String</dataType>
        <expression>TEXT({!year_in})</expression>
    </formulas>
    <interviewLabel>ACAL - get Public Holidays Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACAL - SUB - get Public Holidays Events</label>
    <loops>
        <name>oo_holidays</name>
        <label>oo holidays</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>responsePublicHolidays_col</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>convert_response_to_event</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Public_Holidays</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countryCode_in</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>event_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Daemon__c</objectType>
    </variables>
    <variables>
        <name>event_so</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daemon__c</objectType>
    </variables>
    <variables>
        <name>responsePublicHolidays_col</name>
        <apexClass>ExternalService__getHolidaysFromNager_getPublichHolidays_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rowPublicHolidays_Col</name>
        <apexClass>ExternalService__getHolidaysFromNager_getPublichHolidays_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>year_in</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
