changeset/sales event/flows/SLSE_Settings.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>toast</name>
        <label>toast</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>get_slse_setting</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Save Successfull</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Settings has been saved</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>set_settings_so</name>
        <label>set settings_so</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>settings_so.X1_Email_Template_Prefix__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>settings_so.X2_Email_Template_Prefix__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>settings_so.X3_Email_Template_Prefix__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>settings_so.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Event General Settings</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>settings_so.Default_Org_Wide_Address__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>create_settings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_settings</name>
        <label>update settings</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>settings_so.X1_Email_Template_Prefix__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1_Email_Template_Prefix_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>settings_so.X2_Email_Template_Prefix__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2_Email_Template_Prefix_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>settings_so.X3_Email_Template_Prefix__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X3_Email_Template_Prefix_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>settings_so.Default_Org_Wide_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Email_From_Address_sc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_settings2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>settings_exists</name>
        <label>settings exists?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>set_settings_so</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>settings_so</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setting_sc</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>wideAddress_rch</name>
        <dataType>String</dataType>
        <displayField>DisplayName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsVerified</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrgWideEmailAddress</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SLSE - Settings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLSE - Settings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_settings</name>
        <label>create settings</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>setting_sc</targetReference>
        </connector>
        <inputReference>settings_so</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_slse_setting</name>
        <label>get slse setting</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>settings_exists</targetReference>
        </connector>
        <object>Sales_Event_Settings__c</object>
        <outputReference>settings_so</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>X1_Email_Template_Prefix__c</queriedFields>
        <queriedFields>X2_Email_Template_Prefix__c</queriedFields>
        <queriedFields>X3_Email_Template_Prefix__c</queriedFields>
        <queriedFields>Default_Org_Wide_Address__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>update_settings2</name>
        <label>update settings</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>toast</targetReference>
        </connector>
        <inputReference>settings_so</inputReference>
    </recordUpdates>
    <screens>
        <name>setting_sc</name>
        <label>setting_sc</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_settings</targetReference>
        </connector>
        <fields>
            <name>help_sc</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Email Template Prefixes&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; are used to filter email templates. Only &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Email Templates begins with below prefixes will be available to select&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Default_Email_From_Address_sc</name>
            <choiceReferences>wideAddress_rch</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>settings_so.Default_Org_Wide_Address__c</elementReference>
            </defaultValue>
            <fieldText>Default Email From Address</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X1_Email_Template_Prefix_sc</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>settings_so.X1_Email_Template_Prefix__c</elementReference>
            </defaultValue>
            <fieldText>1. Email Template Prefix</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X2_Email_Template_Prefix_sc</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>settings_so.X2_Email_Template_Prefix__c</elementReference>
            </defaultValue>
            <fieldText>2. Email Template Prefix</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X3_Email_Template_Prefix_sc</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>settings_so.X3_Email_Template_Prefix__c</elementReference>
            </defaultValue>
            <fieldText>3. Email Template Prefix</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_slse_setting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>settings_so</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event_Settings__c</objectType>
    </variables>
</Flow>
