changeset/sales event/flows/SLSE_SCR_Add_Contact_to_Sales_Event.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Find_Duplicated_Records</name>
        <label>Find Duplicated Records</label>
        <locationX>358</locationX>
        <locationY>1514</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>is_record_duplicated</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Sales_Event__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>Sales_Event__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>Sales_Event__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>allParticipants_col</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Dedupe_Key__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>Sales_Event__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>dedupeKey_fr</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <outputParameters>
            <assignToReference>foundDuplicates_col</assignToReference>
            <name>multipleOutputMembers</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>success</name>
        <label>success</label>
        <locationX>182</locationX>
        <locationY>2522</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>success_scr</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Successfully Invited</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Accounts have been invited to sales event</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>sticky</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>446</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>participants_col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>participant_so</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oo_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>adding_some_contact</name>
        <label>adding some contact</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>someContact_so.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>contact_col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_counts</name>
        <label>set counts</label>
        <locationX>182</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>createCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>participants_col</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_sales_event_members_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_event_participant</name>
        <label>set event participant</label>
        <locationX>534</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>participant_so.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>participant_so.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>participant_so.Sales_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>salesEvent_sc.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>participant_so.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordType_so.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>participant_so.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMember_so.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>salesEvent_so.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventParticipantBeforeAddCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>allParticipants_col</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>participant_so.Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>language_fr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>are_there_any_participants_in_the_event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_start_and_end</name>
        <label>set start and end</label>
        <locationX>446</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>participant_so.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventParticipantStartEndEnriched_so.Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>participant_so.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventParticipantStartEndEnriched_so.End__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>are_there_any_participants_in_the_event</name>
        <label>are there any participants in the event</label>
        <locationX>534</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SLSE_SUB_For_Sales_Event_Participant_Return_Start_and_End_Based_On_Region</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventParticipantBeforeAddCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Duplicated_Records</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_debug</name>
        <label>is debug</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>contact_col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUExx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isDebug</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>someContact_so</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_record_duplicated</name>
        <label>is record duplicated</label>
        <locationX>358</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>SLSE_SUB_For_Sales_Event_Participant_Return_Start_and_End_Based_On_Region</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>truex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundDuplicates_col</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>oo_contact</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>language_pch</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Language__c</picklistField>
        <picklistObject>Sales_Event__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>dedupeKey_fr</name>
        <dataType>String</dataType>
        <expression>{!oo_contact.Id}</expression>
    </formulas>
    <formulas>
        <name>duplicatesCount</name>
        <dataType>Number</dataType>
        <expression>{!selectionCount}-{!createCount}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>language_fr</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!language_sc}),TEXT({!oo_contact.MailingCountryCode}),{!language_sc})</expression>
    </formulas>
    <formulas>
        <name>Name_fr</name>
        <dataType>String</dataType>
        <expression>{!salesEvent_so.Name} + &quot; &quot; + {!oo_contact.Name}</expression>
    </formulas>
    <interviewLabel>SLSE - SCR - Add Contact to Sales Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLSE - SCR - Add Contact to Sales Event</label>
    <loops>
        <name>oo_contact</name>
        <label>oo contact</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <collectionReference>contact_col</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_event_participant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>set_counts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_sales_event_members_records</name>
        <label>create sales event members records</label>
        <locationX>182</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>rollback_created_recrods</targetReference>
        </faultConnector>
        <inputReference>participants_col</inputReference>
    </recordCreates>
    <recordLookups>
        <name>allParticipants_col</name>
        <label>DEDUPE get all Event Participants</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>regionDates_col</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Event Participant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>salesEvent_so.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>contact_col</name>
        <label>get all contacts</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eventSelection_sct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>recordType_so</name>
        <label>get record type</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>salesEvent_so</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Event__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Event Participant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>regionDates_col</name>
        <label>get all region date for the event</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>oo_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Event_For_RegionDetail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>salesEvent_sc.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Event__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory__c</queriedFields>
        <queriedFields>Sales_Event_For_RegionDetail__c</queriedFields>
        <queriedFields>Sales_Event__c</queriedFields>
        <queriedFields>Start__c</queriedFields>
        <queriedFields>End__c</queriedFields>
        <sortField>Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>salesEvent_so</name>
        <label>get sales Event</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>allParticipants_col</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>salesEvent_sc.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>someContact_so</name>
        <label>get some contact</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>adding_some_contact</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>rollback_created_recrods</name>
        <label>rollback created recrods</label>
        <locationX>490</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>error_scr</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>error_scr</name>
        <label>error_scr</label>
        <locationX>490</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_scr_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>error_scr_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>error_scr_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>errMessage</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;There were an issue, accounts can not be added to sales event.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 48px;&quot;&gt;🚫&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>error_scr_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>error_scr_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>error_scr_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>error_scr_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>buttonClose2_sc</name>
                    <fieldText>&lt;p&gt;{!buttonTakeMetoVIewButton}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>error_scr_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>eventSelection_sct</name>
        <label>eventSelection_sct</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>recordType_so</targetReference>
        </connector>
        <fields>
            <name>eventSelection_sct_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>eventSelection_sct_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>eventSelection_sct_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>exmplanation_dt</name>
                    <fieldText>&lt;p&gt;Choose Sales Event you would like to add accounts to&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>salesEvent_sc</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Sales_Event__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Sales Event</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sales_Event__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>language_sc</name>
                    <choiceReferences>language_pch</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>CZ</stringValue>
                    </defaultValue>
                    <fieldText>Select Language</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Leave blank &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;to set language based on &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;contacts mailing country&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ContactDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>contact_col</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Contacts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,AccountId,MailingCountry,Email,Business__c,Marketing__c,Nothing__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:186, AccountId:186, MailingCountry:186, Email:186, Business__c:108, Marketing__c:112, Nothing__c:102</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideHeaderActions</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideHeaderActions</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>line</name>
                    <extensionName>c:fsc_drawLine</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>marginBottom</name>
                        <value>
                            <stringValue>xx-small</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>marginTop</name>
                        <value>
                            <stringValue>small</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>color</name>
                        <value>
                            <stringValue>#C9C9C9</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>buttonBar_sc</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Invite Accounts to Sales Event&quot;,&quot;value&quot;:&quot;Invite Accounts to Sales Event&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:adduser&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>eventSelection_sct_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Invite Accounts to Selected Sales Event</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>success_scr</name>
        <label>success_scr</label>
        <locationX>182</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success_scr_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>success_scr_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>success_scr_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_errMessage</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;{!createCount} Accounts has been successfully added to sales event, &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;{!duplicatesCount} have been already registered for the Sales Event&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 72px;&quot;&gt;✅&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>success_scr_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>success_scr_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>success_scr_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>success_scr_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>buttonClose_sc</name>
                    <fieldText>&lt;p&gt;{!buttonTakeMetoVIewButton}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>success_scr_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_debug</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SLSE_SUB_For_Sales_Event_Participant_Return_Start_and_End_Based_On_Region</name>
        <label>SLSE - SUB - For Sales Event Participant Return Start and End Based On Region</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>set_start_and_end</targetReference>
        </connector>
        <flowName>SLSE_SUB_For_Sales_Event_Participant_Return_Start_and_End_Based_On_Region</flowName>
        <inputAssignments>
            <name>event_so</name>
            <value>
                <elementReference>participant_so</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>regionDates_col</name>
            <value>
                <elementReference>regionDates_col</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>eventParticipantStartEndEnriched_so</assignToReference>
            <name>event_so</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>buttonTakeMetoVIewButton</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-align_absolute-center&quot;&gt;&lt;a class=&quot;slds-button slds-button_brand slds-button_stretch&quot; href=&quot;/lightning/o/Contact/list?filterName=Recent&quot; target=&quot;_top&quot;&gt;Close&lt;/a&gt;&lt;/div&gt;</text>
    </textTemplates>
    <variables>
        <name>campaignMember_so</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>campaignMembers_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>createCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>eventParticipantBeforeAddCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>eventParticipantStartEndEnriched_so</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>foundDuplicates_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isDebug</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>participant_so</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>participants_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>selectionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
