changeset/sales event/flows/SLSE_DE_Sales_Event_Registration_Form.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Copy_1_of_set_dates</name>
        <label>Copy 1 of set dates</label>
        <locationX>1018</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>newParticipant_so.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_dates.Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_dates.Start__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>inc_counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_set_description</name>
        <label>set description</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>event_so.Sales_Event__r.Description_PL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>regionDates_col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_set_dates</name>
        <label>Copy 2 of set dates</label>
        <locationX>1282</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>newParticipant_so.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_dates.End__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>endDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_dates.End__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>inc_counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_set_description</name>
        <label>set description</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>event_so.Sales_Event__r.Description_HU__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>regionDates_col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_set_dates</name>
        <label>Copy 3 of set dates</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>newParticipant_so.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>event_so.Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>event_so.End__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>event_so.Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>endDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>event_so.End__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Online_Form_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_set_description</name>
        <label>Copy 3 of set description</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>event_so.Sales_Event__r.Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>regionDates_col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inc_counter</name>
        <label>inc counter</label>
        <locationX>1282</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oo_dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>prepare_sales_event_for_creation</name>
        <label>prepare sales event for creation</label>
        <locationX>754</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>newParticipant_so.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Event Participant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.X1_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1_Full_Name_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.X2_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2_Full_Name_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.X3_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X3_Full_Name_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.X4_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X4_Full_Name_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.X5_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X5_Full_Name_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.X6_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X6_Full_Name_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.X7_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X7_Full_Name_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.X8_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X8_Full_Name_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.X9_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X9_Full_Name_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.Number_of_People_Registered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_People_Registered_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.No_Of_People_With_Accomodation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_Of_People_With_Accomodation_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.Accomodation_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accomodation_Requested_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.Sales_Event_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Note_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.Selected_Arrival_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDate_so.Start__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sales_event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_dates</name>
        <label>set dates</label>
        <locationX>1194</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>newParticipant_so.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>event_so.Sales_Event__r.Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newParticipant_so.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>event_so.Sales_Event__r.End__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>event_so.Sales_Event__r.Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>endDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>event_so.Sales_Event__r.End__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Online_Form_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_description</name>
        <label>set description</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>event_so.Sales_Event__r.Description_CZ__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>regionDates_col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>total_count</name>
        <label>total count</label>
        <locationX>930</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>regionDatesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>regionDates_col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oo_dates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Region_Details</name>
        <label>Any Region Details?</label>
        <locationX>622</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>set_dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Switched_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRegionDatesRefreshSwitchedOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_set_dates</targetReference>
            </connector>
            <label>Switched Off</label>
        </rules>
        <rules>
            <name>TRUEx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>regionDates_col</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>total_count</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkLanguage</name>
        <label>Language</label>
        <locationX>622</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_set_description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_description</targetReference>
            </connector>
            <label>CZ</label>
        </rules>
        <rules>
            <name>PL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pl</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_set_description</targetReference>
            </connector>
            <label>PL</label>
        </rules>
        <rules>
            <name>HU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>hu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_set_description</targetReference>
            </connector>
            <label>HU</label>
        </rules>
    </decisions>
    <decisions>
        <name>ItemPosition</name>
        <label>Item position</label>
        <locationX>1282</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>inc_counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_set_dates</targetReference>
            </connector>
            <label>First</label>
        </rules>
        <rules>
            <name>Last</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>regionDatesCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_set_dates</targetReference>
            </connector>
            <label>Last</label>
        </rules>
    </decisions>
    <decisions>
        <name>Online_Form_Completed</name>
        <label>Online Form Completed</label>
        <locationX>622</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>registration_scr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>event_so.Is_Online_Registration_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_thankYouPage_sc</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>accommodationRequested_pch</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Accomodation_Requested__c</picklistField>
        <picklistObject>Sales_Event__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dates_ch</name>
        <collectionReference>regionDates_col</collectionReference>
        <dataType>String</dataType>
        <displayField>Start__c</displayField>
        <object>Sales_Event__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>domain_fr</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>SLSE - DE - Sales Event Registration Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SLSE - DE - Sales Event Registration Form</label>
    <loops>
        <name>oo_dates</name>
        <label>oo dates</label>
        <locationX>930</locationX>
        <locationY>866</locationY>
        <collectionReference>regionDates_col</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ItemPosition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Online_Form_Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>sales_event</name>
        <label>sales event</label>
        <locationX>754</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>thankYouPage_sc</targetReference>
        </connector>
        <faultConnector>
            <targetReference>issueWithRegistration_pg</targetReference>
        </faultConnector>
        <inputReference>newParticipant_so</inputReference>
    </recordCreates>
    <recordLookups>
        <name>event_so</name>
        <label>Get Sales Event Participant</label>
        <locationX>622</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkLanguage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>regionDates_col</name>
        <label>get region dates details</label>
        <locationX>622</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Region_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Event_For_RegionDetail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>event_so.Sales_Event__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>event_so.RegionId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Event__c</object>
        <sortField>Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>selectedDate_so</name>
        <label>get selected arrival date</label>
        <locationX>754</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>prepare_sales_event_for_creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedDate_sc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Event__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_2_of_thankYouPage_sc</name>
        <label>Copy 2 of thankYouPage_sc</label>
        <locationX>490</locationX>
        <locationY>1658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_thankYouPage_sc_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_thankYouPage_sc_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_blank_sc</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_2_of_thankYouPage_sc_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_thankYouPage_sc_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_thankYouPage_sc_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_successText_sc</name>
                    <fieldText>&lt;p&gt;{!icon_tt}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_thankYouPage_sc_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_2_of_successEndText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 48px;&quot;&gt;{!$Label.slse_Thank_you_for_your_registration}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 48px;&quot;&gt;{!$Label.slse_You_are_allready_registered}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>issueWithRegistration_pg</name>
        <label>issueWithRegistration_pg</label>
        <locationX>1018</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>issueWithRegistration_pg_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>issueWithRegistration_pg_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_blank_sc</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>issueWithRegistration_pg_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>issueWithRegistration_pg_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>issueWithRegistration_pg_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_successText_sc</name>
                    <fieldText>&lt;p&gt;{!iconFailure_tt}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>issueWithRegistration_pg_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_successEndText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 48px;&quot;&gt;{!$Label.slse_Issue_With_Registration}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>registration_scr</name>
        <label>registration_scr</label>
        <locationX>754</locationX>
        <locationY>1658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>selectedDate_so</targetReference>
        </connector>
        <fields>
            <name>registration_scr_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>registration_scr_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>eventName_sc</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;{!event_so.Online_Form_Display_Name__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dates_sc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;{!startDate} - {!endDate}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>header_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!description}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>registration_scr_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>registration_scr_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>selectedDate_sc</name>
                    <choiceReferences>dates_ch</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.slse_When_You_Will_Arrive}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Accomodation_Requested_sc</name>
                    <choiceReferences>accommodationRequested_pch</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>event_so.Accomodation_Requested__c</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.slse_Would_You_Like_Us_To_Arrange_Accommodation}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>event_so.Sales_Event__r.Is_Accomodation_Possible__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>registration_scr_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_People_Registered_sc</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>event_so.Number_of_People_Registered__c</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.slse_Number_Of_People_That_Will_Arrive}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_Of_People_With_Accomodation_sc</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>event_so.No_Of_People_With_Accomodation__c</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.slse_Number_Of_People_With_Accommodation}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>event_so.Sales_Event__r.Is_Accomodation_Possible__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accomodated_People_Names</name>
            <fieldText>{!$Label.slse_Names_For_Accomodation}</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accomodated_People_Names_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X1_Full_Name_sc</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>event_so.X1_Full_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.slse_Full_Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>X2_Full_Name_sc</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>event_so.X2_Full_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.slse_Full_Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>X3_Full_Name_sc</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>event_so.X3_Full_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.slse_Full_Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>X4_Full_Name_sc</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>event_so.X4_Full_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.slse_Full_Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>X5_Full_Name_sc</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>event_so.X5_Full_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.slse_Full_Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>X6_Full_Name_sc</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>event_so.X6_Full_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.slse_Full_Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>X7_Full_Name_sc</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>event_so.X7_Full_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.slse_Full_Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>language</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>X8_Full_Name_sc</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>event_so.X8_Full_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.slse_Full_Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>language</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>neverShow</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>X9_Full_Name_sc</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>event_so.X9_Full_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.slse_Full_Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>language</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>neverShow</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_so.Sales_Event__r.Is_Accomodation_Possible__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Note_sc</name>
            <defaultValue>
                <stringValue>{!event_so.Note__c}</stringValue>
            </defaultValue>
            <fieldText>{!$Label.slse_Note}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>registration_scr_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>registration_scr_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>registration_scr_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>confirmButton</name>
                    <extensionName>c:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>variant</name>
                        <value>
                            <stringValue>SUCCESS</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <elementReference>$Label.SLSA_Confirm_Registration</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonClass</name>
                        <value>
                            <stringValue>slds-button_stretch</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>registration_scr_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>thankYouPage_sc</name>
        <label>thankYouPage_sc</label>
        <locationX>754</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thankYouPage_sc_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>thankYouPage_sc_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>blank_sc</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>thankYouPage_sc_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>thankYouPage_sc_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>thankYouPage_sc_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>successText_sc</name>
                    <fieldText>&lt;p&gt;{!icon_tt}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>thankYouPage_sc_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>successEndText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 48px;&quot;&gt;{!$Label.slse_Thank_you_for_your_registration}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>event_so</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>description_tt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!event_so.Sales_Event__r.Description__c}</text>
    </textTemplates>
    <textTemplates>
        <name>icon_tt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span class=&quot;slds-align_absolute-center slds-icon_container slds-icon-action-approval slds-icon_container_circle icon&quot; style=&quot;width:90px;height:90px;background-color:#45C65A&quot;&gt;&lt;img src=&quot;{!domain_fr}img/icon/t4v35/action/approval_120.png&quot; title=&quot;Opportunity Units&quot; alt=&quot;&quot;&gt;&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>iconFailure_tt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span class=&quot;slds-align_absolute-center slds-icon_container slds-icon-action-close slds-icon_container_circle icon&quot; style=&quot;width:120px;height:120px;background-color:#FF538A&quot;&gt;&lt;img src=&quot;{!domain_fr}img/icon/t4v35/action/close_120.png&quot; title=&quot;Issue&quot; alt=&quot;&quot;&gt;&lt;/span&gt;</text>
    </textTemplates>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isRegionDatesRefreshSwitchedOff</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newParticipant_so</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daemon__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0s7Z00000DE9jCQAT</stringValue>
        </value>
    </variables>
    <variables>
        <name>regionDatesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
