changeset/sales event/flows/SLSE_Update_Sales_Event_Participant_Based_On_Online_Form.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>prepare_update</name>
        <label>prepare update</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>salesEvent_so.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Event_Origin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.X1_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.X1_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.X2_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.X2_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.X3_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.X3_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.X4_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.X4_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.X5_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.X5_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.X6_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.X6_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.X7_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.X7_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.X8_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.X8_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.X9_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.X9_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.Number_of_People_Registered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Number_of_People_Registered__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.Accomodation_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Accomodation_Requested__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.No_Of_People_With_Accomodation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.No_Of_People_With_Accomodation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Note__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.Is_Online_Registration_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesEvent_so.Selected_Arrival_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Selected_Arrival_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_sales_event</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SLSE - Update Sales Event Participant Based On Online Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLSE - Update Sales Event Participant Based On Online Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_sales_event</name>
        <label>update sales event</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <inputReference>salesEvent_so</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Event_Origin__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Event Participant</stringValue>
            </value>
        </filters>
        <object>Daemon__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>prepare_update</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>salesEvent_so</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
</Flow>
