changeset/sales event/flows/SLSE_Send_Bulk_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Emails_Requests</name>
        <label>Copy 1 of Send Emails Requests</label>
        <locationX>446</locationX>
        <locationY>3362</locationY>
        <actionName>SendBetterEmailBulk</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>clean_req_col</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailRequests</name>
            <value>
                <elementReference>emailReq_col</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmailBulk</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Emails_Requests</name>
        <label>Send Emails Requests</label>
        <locationX>50</locationX>
        <locationY>4262</locationY>
        <actionName>SendBetterEmailBulk</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>mark_sales_invitation_as_send</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailRequests</name>
            <value>
                <elementReference>emailReq_col</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmailBulk</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>578</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>emailReq_col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>emailReq_so</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventU_col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eventU_so</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>counter_reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clean_req_col</name>
        <label>clean req_col</label>
        <locationX>446</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>emailReq_col</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>reset_counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inc_counter</name>
        <label>inc counter</label>
        <locationX>578</locationX>
        <locationY>3770</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oo_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>put_to_collection</name>
        <label>put to collection</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>templateMap_col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>templateMap_so</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_template_EN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reset_counter</name>
        <label>reset counter</label>
        <locationX>446</locationX>
        <locationY>3578</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>inc_counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_collection_count</name>
        <label>set collection count and clean whatids col</label>
        <locationX>578</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>filteredTemplateCollectionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>filteredTemplateCollection_col</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>whatIds_col</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Template_for_language_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_count_of_req</name>
        <label>set count of req</label>
        <locationX>182</locationX>
        <locationY>4046</locationY>
        <assignmentItems>
            <assignToReference>req_colCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>emailReq_col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>req_col_have_someting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_email_req</name>
        <label>set email req</label>
        <locationX>578</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>emailReq_so.orgWideEmailAddressId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>wideAddress_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailReq_so.senderDisplayName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedWideAddressDisplayName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailReq_so.saveAsActivity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailReq_so.templateID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>templateId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailReq_so.templateTargetObjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_selected.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailReq_so.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventU_so.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventU_so.Invitation_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_EN_template_id</name>
        <label>set EN template id</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ENTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_template.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oo_template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_map</name>
        <label>set map</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>templateMap_so.TemplateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_template.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>templateMap_so.Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>language_fr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>put_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_selected_Sales_Event_Participants</name>
        <label>set selected Sales Event Participants</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>selectedParticipants_col</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dataTable_sc.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalEmailsToSendCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>dataTable_sc.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_selectParticipantsToSendEmail_scr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_template_id_based_on_language</name>
        <label>set template id based on language</label>
        <locationX>666</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>templateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_tempMap.TemplateId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oo_tempMap</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_template_to_EN_template</name>
        <label>set template to EN template</label>
        <locationX>666</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>templateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ENTemplateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oo_tempMap</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_whatids_collection</name>
        <label>set whatids collection</label>
        <locationX>578</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>whatIds_col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oo_selected.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_email_req</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filteredTemplateCollection_col</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filteredTemplateCollection</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <assignNextValueToReference>currentItem_filteredTemplateCollection_col_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>templateMap_col</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filteredTemplateCollection_col_0.Language__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>oo_selected.Language__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>set_collection_count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>counter_reached</name>
        <label>counter reached?</label>
        <locationX>578</locationX>
        <locationY>3146</locationY>
        <defaultConnector>
            <targetReference>inc_counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE1a</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendEmailScree</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>debug</name>
        <label>debug</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>oo_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>showMe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>wideAddress_sc</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>oo_selected</targetReference>
            </connector>
            <label>showMe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_does_not_exists</name>
        <label>Email does not exists</label>
        <locationX>424</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>filteredTemplateCollection_col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUEqwe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oo_selected.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>oo_selected</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_template_EN</name>
        <label>is template EN?</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>oo_template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>language_fr</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_EN_template_id</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>req_col_have_someting</name>
        <label>req_col have someting?</label>
        <locationX>182</locationX>
        <locationY>4154</locationY>
        <defaultConnector>
            <targetReference>mark_sales_invitation_as_send</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUEaaa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>req_colCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Emails_Requests</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Template_for_language_found</name>
        <label>Template for language found?</label>
        <locationX>578</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>set_template_to_EN_template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUExxx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filteredTemplateCollectionCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>oo_tempMap</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>emailTemplate_rch</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>settings_so.X1_Email_Template_Prefix__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>settings_so.X2_Email_Template_Prefix__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>settings_so.X3_Email_Template_Prefix__c</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>wideAddress_rCh</name>
        <dataType>String</dataType>
        <displayField>DisplayName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsVerified</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>10</limit>
        <object>OrgWideEmailAddress</object>
        <outputAssignments>
            <assignToReference>selectedWideAddressDisplayName</assignToReference>
            <field>DisplayName</field>
        </outputAssignments>
        <sortField>DisplayName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>domain_fr</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <formulas>
        <name>language_fr</name>
        <dataType>String</dataType>
        <expression>RIGHT(
SUBSTITUTE({!oo_template.Name}, &quot; &quot;, &quot;&quot;)
,2)</expression>
    </formulas>
    <formulas>
        <name>selectedEmailTemplate_fr</name>
        <dataType>String</dataType>
        <expression>LEFT({!Email_Template_sc}, FIND(&quot; - &quot;, {!Email_Template_sc}) - 1)</expression>
    </formulas>
    <interviewLabel>SLSE - Send Bulk Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLSE - Send Bulk Email</label>
    <loops>
        <name>oo_selected</name>
        <label>oo selected</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <collectionReference>selectedParticipants_col</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_does_not_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>set_count_of_req</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>oo_template</name>
        <label>oo template</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>emailTemplate_col</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_map</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Sales_Event_with_default_eTemplate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>oo_tempMap</name>
        <label>oo tempMap</label>
        <locationX>578</locationX>
        <locationY>2522</locationY>
        <collectionReference>filteredTemplateCollection_col</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_template_id_based_on_language</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>set_whatids_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>emailTemplate_col</name>
        <label>get email Templates</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>oo_template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>selectedEmailTemplate_fr</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>eventPart_col</name>
        <label>get all EventParticipants</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>settings_so</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>event_so_in.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Event__c</object>
        <sortField>RegionId__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>settings_so</name>
        <label>settings</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>selectParticipantsToSendEmail_scr</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Event_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>mark_sales_invitation_as_send</name>
        <label>mark sales invitation as send</label>
        <locationX>182</locationX>
        <locationY>4454</locationY>
        <connector>
            <targetReference>allEmailsSendSuccessfully_scr</targetReference>
        </connector>
        <inputReference>eventU_col</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Sales_Event_with_default_eTemplate</name>
        <label>update Sales Event with default eTemplate</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>set_selected_Sales_Event_Participants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>event_so_in.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Default_Event_Email_Template_Id__c</field>
            <value>
                <elementReference>Email_Template_sc</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Event__c</object>
    </recordUpdates>
    <screens>
        <name>allEmailsSendSuccessfully_scr</name>
        <label>allEmailsSendSuccessfully_scr</label>
        <locationX>182</locationX>
        <locationY>4562</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_first30emailWillBeSend_sc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;All the {!totalEmailsToSendCount} emails has been sent successfully &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!successIcon_tt}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_selectParticipantsToSendEmail_scr</name>
        <label>Copy 1 of selectParticipantsToSendEmail_scr</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>debug</targetReference>
        </connector>
        <fields>
            <name>wideAddress_sc</name>
            <choiceReferences>wideAddress_rCh</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>settings_so.Default_Org_Wide_Address__c</elementReference>
            </defaultValue>
            <fieldText>Choose Address From</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>confirmationDataTable_sc</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Sales_Event__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Sales_Event__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Selected Sales Email Participants</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom48</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Invitation_Sent__c,Primary_Contact__c,Language__c,Email__c,Account__c,Region_Name__c,Start__c,End__c,Is_Online_Registration_Completed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Invitation_Sent__c:94, Primary_Contact__c:163, Language__c:50, Email__c:163, Account__c:163, Region_Name__c:163, Start__c:163, End__c:163, Is_Online_Registration_Completed__c:163</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>selectedParticipants_col</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Invitation_Sent__c:📤 Sent</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Confirm Selection and Send Emails</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>selectParticipantsToSendEmail_scr</name>
        <label>selectParticipantsToSendEmail_scr</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>emailTemplate_col</targetReference>
        </connector>
        <fields>
            <name>Email_Template_sc</name>
            <choiceReferences>emailTemplate_rch</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>event_so_in.Default_Event_Email_Template_Id__c</elementReference>
            </defaultValue>
            <fieldText>Email Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dataTable_sc</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Sales_Event__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Sales_Event__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>eventPart_col</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Sales Events Participants</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom48</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Invitation_Sent__c,Primary_Contact__c,Language__c,Email__c,Account__c,Region_Name__c,Start__c,End__c,Is_Online_Registration_Completed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Invitation_Sent__c:112, Primary_Contact__c:163, Language__c:50, Email__c:163, Account__c:163, Region_Name__c:163, Start__c:163, End__c:163, Is_Online_Registration_Completed__c:163</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Invitation_Sent__c:📤 Sent</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sendEmailScree</name>
        <label>partialSendEmail_scr</label>
        <locationX>446</locationX>
        <locationY>3254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Send_Emails_Requests</targetReference>
        </connector>
        <fields>
            <name>first30emailWillBeSend_sc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;30 emails will be send&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 48px;&quot;&gt;📤&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send and Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>eventPart_col</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>successIcon_tt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span class=&quot;slds-icon_container slds-icon-action-approval slds-icon_container_circle icon&quot; style=&quot;width:90px;height:90px;background-color:#45C65A&quot;&gt;&lt;img src=&quot;{!domain_fr}img/icon/t4v35/action/approval_120.png&quot; title=&quot;Opportunity Units&quot; alt=&quot;&quot;&gt;&lt;/span&gt;</text>
    </textTemplates>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_filteredTemplateCollection_col_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daemon__c</objectType>
    </variables>
    <variables>
        <name>emailReq_col</name>
        <apexClass>SendBetterEmailRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailReq_so</name>
        <apexClass>SendBetterEmailRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailSendTreshold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>75.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ENTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>event_so_in</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>eventU_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>eventU_so</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>filteredTemplateCollectionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>req_colCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>selectedParticipants_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>selectedWideAddressDisplayName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>templateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>templateMap_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daemon__c</objectType>
    </variables>
    <variables>
        <name>templateMap_so</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daemon__c</objectType>
    </variables>
    <variables>
        <name>totalEmailsToSendCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>whatIds_col</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
