changeset/sales event/flows/SLSE_SUB_For_Sales_Event_Participant_Return_Start_and_End_Based_On_Region.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Copy_1_of_set_first_date</name>
        <label>Copy 1 of set first date</label>
        <locationX>240</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>event_so.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>event_so.Sales_Event__r.Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>event_so.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>event_so.Sales_Event__r.End__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>inc_counter</name>
        <label>inc counter</label>
        <locationX>464</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oo_regionDates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_dates_count</name>
        <label>set dates count</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>regionDatesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>filtered_regionDates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_any_region_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_first_date</name>
        <label>set first date</label>
        <locationX>200</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>event_so.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_regionDates.Start__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>inc_counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_last_date</name>
        <label>Set last date</label>
        <locationX>464</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>event_so.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_regionDates.Start__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>inc_counter</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filtered_regionDates</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filtered_regionDates</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNextValueToReference>currentItem_filtered_regionDates_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>regionDates_col</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filtered_regionDates_0.Territory__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>event_so.Account__r.Territory__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_filtered_regionDates_0.Sales_Event_For_RegionDetail__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>event_so.Sales_Event__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>set_dates_count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_there_any_region_Dates</name>
        <label>Are there any region Dates?</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_set_first_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>regionDatesCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>oo_regionDates</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Position</name>
        <label>Position</label>
        <locationX>464</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>inc_counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_first_date</targetReference>
            </connector>
            <label>First</label>
        </rules>
        <rules>
            <name>Last</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>regionDatesCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_last_date</targetReference>
            </connector>
            <label>Last</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SLSE - SUB - For Sales Event Participant Return Start and End Based On Region {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLSE - SUB - For Sales Event Participant Return Start and End Based On Region</label>
    <loops>
        <name>oo_regionDates</name>
        <label>oo regionDates</label>
        <locationX>112</locationX>
        <locationY>458</locationY>
        <collectionReference>filtered_regionDates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Position</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>filtered_regionDates</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_filtered_regionDates_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>currentItem_XXXfiltered_regionDates</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>event_so</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>regionDates_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>regionDatesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
