changeset/sales event/flows/SLSE_SCR_Add_Account_to_Sales_Event.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_Duplicated_Records</name>
        <label>Find Duplicated Records</label>
        <locationX>396</locationX>
        <locationY>890</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>is_record_duplicated</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>Sales_Event__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>Sales_Event__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Sales_Event__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>allParticipants_col</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Dedupe_Key__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>Sales_Event__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>dedupeKey_fr</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <outputParameters>
            <assignToReference>foundDuplicates_col</assignToReference>
            <name>multipleOutputMembers</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>success</name>
        <label>success</label>
        <locationX>176</locationX>
        <locationY>2006</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>success_scr</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Successfully Invited</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Accounts have been invited to sales event</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>sticky</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_to_campaign_member_collection</name>
        <label>add to campaign member collection</label>
        <locationX>616</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>campaignMembers_col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMember_so</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oo_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>528</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>participants_col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>participant_so</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Main_Contact_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_counts</name>
        <label>set counts</label>
        <locationX>176</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>createCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>participants_col</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_sales_event_members_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_event_participant</name>
        <label>set event participant</label>
        <locationX>396</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>participant_so.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>participant_so.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_account.Main_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>participant_so.Sales_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>salesEvent_sc.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>participant_so.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordType_so.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>participant_so.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMember_so.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>salesEvent_so.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMember_so.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMember_so.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_account.Main_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMember_so.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>participant_so.Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_account.BillingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Duplicated_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Main_Contact_Null</name>
        <label>Is Main Contact Null</label>
        <locationX>528</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>add_to_campaign_member_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oo_account.Main_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>oo_account</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_record_duplicated</name>
        <label>is record duplicated</label>
        <locationX>396</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>add_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>truex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundDuplicates_col</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>oo_account</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dedupeKey_fr</name>
        <dataType>String</dataType>
        <expression>{!oo_account.Id}+{!oo_account.Main_Contact__c}</expression>
    </formulas>
    <formulas>
        <name>duplicatesCount</name>
        <dataType>Number</dataType>
        <expression>{!selectionCount}-{!createCount}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Name_fr</name>
        <dataType>String</dataType>
        <expression>{!salesEvent_so.Name} + &quot; &quot; + {!oo_account.Name}</expression>
    </formulas>
    <interviewLabel>SLSE - SCR - Add Account to Sales Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLSE - SCR - Add Account to Sales Event</label>
    <loops>
        <name>oo_account</name>
        <label>oo account</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>acc_col</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_event_participant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>set_counts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_campaing_members</name>
        <label>create campaing members</label>
        <locationX>176</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>rollback_created_recrods</targetReference>
        </faultConnector>
        <inputReference>campaignMembers_col</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_sales_event_members_records</name>
        <label>create sales event members records</label>
        <locationX>176</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>create_campaing_members</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>rollback_created_recrods</targetReference>
        </faultConnector>
        <inputReference>participants_col</inputReference>
    </recordCreates>
    <recordLookups>
        <name>acc_col</name>
        <label>get all accounts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eventSelection_sct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>allParticipants_col</name>
        <label>DEDUPE get all Event Participants</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>oo_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Event Participant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>salesEvent_so.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>recordType_so</name>
        <label>get record type</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>salesEvent_so</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Event__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Event Participant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>salesEvent_so</name>
        <label>get sales Event</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>allParticipants_col</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>salesEvent_sc.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>rollback_created_recrods</name>
        <label>rollback created recrods</label>
        <locationX>480</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>error_scr</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>error_scr</name>
        <label>error_scr</label>
        <locationX>480</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_scr_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>error_scr_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>error_scr_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>errMessage</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;There were an issue, accounts can not be added to sales event.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 48px;&quot;&gt;🚫&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>error_scr_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>error_scr_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>error_scr_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>error_scr_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>buttonClose2_sc</name>
                    <fieldText>&lt;p&gt;{!buttonTakeMetoVIewButton}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>error_scr_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>eventSelection_sct</name>
        <label>eventSelection_sct</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>recordType_so</targetReference>
        </connector>
        <fields>
            <name>eventSelection_sct_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>eventSelection_sct_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>eventSelection_sct_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>exmplanation_dt</name>
                    <fieldText>&lt;p&gt;Choose Sales Event you would like to add accounts to&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>salesEvent_sc</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Sales_Event__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Sales Event</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sales_Event__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>selectedAccounts</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Selected Accounts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>acc_col</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9b58&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Development_Status__c&quot;,&quot;guid&quot;:&quot;column-92df&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Development Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Main_Contact__c&quot;,&quot;guid&quot;:&quot;column-3555&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Main Contact&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>buttonBar_sc</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Invite Accounts to Sales Event&quot;,&quot;value&quot;:&quot;Invite Accounts to Sales Event&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:adduser&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>eventSelection_sct_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Invite Accounts to Selected Sales Event</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>success_scr</name>
        <label>success_scr</label>
        <locationX>176</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success_scr_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>success_scr_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>success_scr_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_errMessage</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;{!createCount} Accounts has been successfully added to sales event, &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;{!duplicatesCount} have been already registered for the Sales Event&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 72px;&quot;&gt;✅&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>success_scr_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>success_scr_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>success_scr_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>success_scr_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>buttonClose_sc</name>
                    <fieldText>&lt;p&gt;{!buttonTakeMetoVIewButton}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>success_scr_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>acc_col</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>buttonTakeMetoVIewButton</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-align_absolute-center&quot;&gt;&lt;a class=&quot;slds-button slds-button_brand slds-button_stretch&quot; href=&quot;/lightning/o/Account/list?filterName=Recent&quot; target=&quot;_top&quot;&gt;Close&lt;/a&gt;&lt;/div&gt;</text>
    </textTemplates>
    <variables>
        <name>campaignMember_so</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>campaignMembers_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>createCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>foundDuplicates_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>participant_so</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>participants_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>selectionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
