changeset/sales event/flows/SLSE_Select_Date_For_Region.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Dates_to_collection</name>
        <label>Convert Dates to collection</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>regionsForDel_col</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>datesComma_fr</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToStringCollection</nameSegment>
        <outputParameters>
            <assignToReference>regionDatesTXT_col</assignToReference>
            <name>stringCollection</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>convert_regions_to_collection</name>
        <label>convert regions to collection</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Convert_Dates_to_collection</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>regionsComma_fr</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToStringCollection</nameSegment>
        <outputParameters>
            <assignToReference>regionsTXT_col</assignToReference>
            <name>stringCollection</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>success_toast</name>
        <label>success toast</label>
        <locationX>578</locationX>
        <locationY>2114</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Successfully Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Dates for Regions Successfully Created</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>convert</name>
        <label>convert to semi</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>regionSemi</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region_sc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dateSemi</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>regionDates_sc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>convert_regions_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_prepare_region_dates</name>
        <label>Copy 1 of prepare region dates</label>
        <locationX>842</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>regionDates_so.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>name_fr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>put_record_to_col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_put_to_col</name>
        <label>put to col</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>date_col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>date_so</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentDatePlusOne_fr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>oo_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>prepare_region_dates</name>
        <label>prepare region dates</label>
        <locationX>842</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>regionDates_so.Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oo_regions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regionDates_so.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>start_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regionDates_so.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>start_fr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regionDates_so.Sales_Event_For_RegionDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>event_so_in.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regionDates_so.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>terRecordType_so.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regionDates_so.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_prepare_region_dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>put_record_to_col</name>
        <label>put record to col</label>
        <locationX>842</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>regionDates_col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>regionDates_so</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oo_dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_date_collection</name>
        <label>set date collection</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>date_so.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>date_so.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateName_fr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_put_to_col</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>oo_date</name>
        <label>oo date</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>DateSelection_scr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loop End</defaultConnectorLabel>
        <rules>
            <name>Each</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>event_so_in.End__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>currentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_date_collection</targetReference>
            </connector>
            <label>Each</label>
        </rules>
    </decisions>
    <decisions>
        <name>something_to_delete</name>
        <label>something to delete?</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>oo_regions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>regionsForDel_col</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_existing_selected_regions</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>date_chSet</name>
        <collectionReference>date_col</collectionReference>
        <dataType>String</dataType>
        <displayField>Date__c</displayField>
        <object>Daemon__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ter_chSet</name>
        <collectionReference>ter_col</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Territory__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>currentDatePlusOne_fr</name>
        <dataType>Date</dataType>
        <expression>{!currentDate} + 1</expression>
    </formulas>
    <formulas>
        <name>dateName_fr</name>
        <dataType>String</dataType>
        <expression>TEXT({!currentDate})</expression>
    </formulas>
    <formulas>
        <name>datesComma_fr</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!dateSemi}, &quot;;&quot;, &quot;,&quot;)</expression>
    </formulas>
    <formulas>
        <name>name_fr</name>
        <dataType>String</dataType>
        <expression>{!regionDates_so.Territory__r.Name} + &quot; &quot; + TEXT({!regionDates_so.Start__c})</expression>
    </formulas>
    <formulas>
        <name>regionsComma_fr</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!regionSemi}, &quot;;&quot;, &quot;,&quot;)</expression>
    </formulas>
    <formulas>
        <name>start_fr</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!oo_dates})</expression>
    </formulas>
    <interviewLabel>SLSE - Select Date For Region {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLSE - Select Date For Region</label>
    <loops>
        <name>oo_dates</name>
        <label>oo dates</label>
        <locationX>754</locationX>
        <locationY>1406</locationY>
        <collectionReference>regionDatesTXT_col</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>prepare_region_dates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>oo_regions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>oo_regions</name>
        <label>oo regions</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <collectionReference>regionsTXT_col</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>oo_dates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dml_region_dates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>dml_region_dates</name>
        <label>dml region dates</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>success_toast</targetReference>
        </connector>
        <inputReference>regionDates_col</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>delete_existing_selected_regions</name>
        <label>delete existing selected regions</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>oo_regions</targetReference>
        </connector>
        <inputReference>regionsForDel_col</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>regionsForDel_col</name>
        <label>delete all regions matching selection</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>something_to_delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Event_For_RegionDetail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>event_so_in.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory__c</field>
            <operator>In</operator>
            <value>
                <elementReference>regionsTXT_col</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ter_col</name>
        <label>get all territories</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>oo_date</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>terRecordType_so</name>
        <label>get record type</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ter_col</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Event__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Event_Region_Detail</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DateSelection_scr</name>
        <label>DateSelection_scr</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>convert</targetReference>
        </connector>
        <fields>
            <name>DateSelection_scr_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DateSelection_scr_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region_sc</name>
                    <choiceReferences>ter_chSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Region</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DateSelection_scr_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>regionDates_sc</name>
                    <choiceReferences>date_chSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Dates For Region</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Details For Selected Regions</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>terRecordType_so</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>event_so_in.Start__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>date_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daemon__c</objectType>
    </variables>
    <variables>
        <name>date_so</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daemon__c</objectType>
    </variables>
    <variables>
        <name>dateSemi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>event_so_in</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>regionDates_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>regionDates_so</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Event__c</objectType>
    </variables>
    <variables>
        <name>regionDatesTXT_col</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>regionsCommaSep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>regionSemi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>regionsTXT_col</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
